html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #fff;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #8888 1px, transparent 1px);
}

* {
    box-sizing: border-box;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #448;
    padding: 30px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 1em;
    border: solid 1px #337;
    box-shadow: 1px 1px 5px #888;
    opacity: 1;
    transition: all .5s;
    z-index: 1000;
}

#user-name-box em {
    display: block;
    font-style: normal;
    font-size: 50px;
    line-height: 1em;
}

.box input,
.box select,
.box button,
.box textarea {
    font-size: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;
    background-color: #bbe;
    outline: none;
    border: solid 2px #448;
}

.box input:focus,
.box input:active,
.box select:focus,
.box select:active,
.box button:focus,
.box button:active,
.box textarea:focus,
.box textarea:active {
    border: solid 2px #eef;
}

.box button {
    background: #66a;
    border: solid 2px #337;
    margin-top: 15px;
    color: #fff;
    cursor: pointer;
}

.box button[disabled] {
    color: #aaa;
    background-color: #669;
}

.box textarea {
    scrollbar-color: #888 transparent;
    scrollbar-width: thin;
    resize: none;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    height: 100px;
    text-align: left;
}

.box textarea::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

.box textarea::-webkit-scrollbar-thumb {
    background-color: #88d;
    border-radius: 3.5px;
}

.box .box-title {
    font-family: 'Segoe Script';
    margin-bottom: 20px;
}

.box label {
    display: block;
    font-size: .75em;
    margin: 15px 0px 0px;
}

.box.hide {
    opacity: 0;
    z-index: -1000;
}

#user-name-box.hide,
#waiting-start-box.hide,
#turn-score-box.hide {
    top: 0%;
}

#game-settings-box.hide,
#waiting-choice-box.hide,
#words-choice-box.hide {
    top: 100%;
}

#canvas {
    position: absolute;
    top: max(5px, 50vh - 25vw + 5px);
    left: max(5px, 50vw - 100vh + 5px);
    width: calc(100% - 10px);
    max-width: calc(200vh - 10px);
    height: calc(100% - 10px);
    max-height: calc(50vw - 10px);
    background:
        linear-gradient(to right, #ddd 8px, transparent 8px) 0 0,
        linear-gradient(to right, #ddd 8px, transparent 8px) 0 100%,
        linear-gradient(to left, #ddd 8px, transparent 8px) 100% 0,
        linear-gradient(to left, #ddd 8px, transparent 8px) 100% 100%,
        linear-gradient(to bottom, #ddd 8px, transparent 8px) 0 0,
        linear-gradient(to bottom, #ddd 8px, transparent 8px) 100% 0,
        linear-gradient(to top, #ddd 8px, transparent 8px) 0 100%,
        linear-gradient(to top, #ddd 8px, transparent 8px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    overflow: visible;
    user-select: none;
    pointer-events: none;
    touch-action: none;
}

#surface {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#players {
    position: absolute;
    top: 10px;
    right: 10px;
    user-select: none;
    pointer-events: none;
    touch-action: none;
}

.player-row {
    position: absolute;
    right: 0px;
    padding: 0px 5px;
    font-size: 20px;
    text-shadow: 0px 0px 5px #fff, 1px 1px 5px #fff, -1px -1px 5px #fff, 1px -1px 5px #fff, -1px 1px 5px #fff;
    display: flex;
    align-items: center;
    transition: all .5s;
}

.player-row .player-name::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 10px;
}

.player-row.drawing {
    color: #66d;
}

.player-row.drawing .player-name::before {
    content: '\f303';
}

.player-row.guessed {
    color: #484;
}

.player-row.guessed .player-name::before {
    content: '\f00c';
}

.player-row div {
    margin: 5px;
}

.player-row .player-score {
    width: 50px;
    text-align: center;
    font-weight: bold;
}

#word-container {
    position: absolute;
    padding: 20px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0px 0px 5px #fff, 1px 1px 5px #fff, -1px -1px 5px #fff, 1px -1px 5px #fff, -1px 1px 5px #fff;
    white-space: nowrap;
    pointer-events: none;
    touch-action: none;
}

#wordMask {
    font-family: Consolas, monospace;
    letter-spacing: 5px;
    font-size: 50px;
    user-select: none;
    pointer-events: none;
    touch-action: none;
    padding: 0px 10ch;
}

#wordInput {
    position: absolute;
    font-family: Consolas, monospace;
    letter-spacing: 5px;
    font-size: 50px;
    bottom: 20px;
    text-shadow: inherit;
    background: transparent;
    border: none;
    padding: 0px;
    padding-left: 10ch;
    z-index: 1000;
    outline: none;
    width: 100%;
}

#wordInput:not([disabled]) {
    user-select: all;
    pointer-events: all;
    touch-action: auto;
}

.chat-container {
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0px;
    height: 75%;
    width: 25%;
    overflow: hidden;
    mask-image: linear-gradient(0deg, #000 50%, transparent);
    -webkit-mask-image: linear-gradient(0deg, #000 50%, transparent);
}

#chat {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 20px 10px;
    display: table;
    bottom: 0px;
    text-shadow: 0px 0px 5px #fff, 1px 1px 5px #fff, -1px -1px 5px #fff, 1px -1px 5px #fff, -1px 1px 5px #fff;
}

.chat-row {
    display: table-row;
}

.chat-name {
    display: table-cell;
    text-align: right;
    padding: 2px 5px;
    font-weight: bold;
    vertical-align: middle;
}

.chat-message {
    display: table-cell;
    text-align: left;
    padding: 2px 5px;
}

.chat-message.blur {
    filter: blur(3px);
}

.chat-break {
    padding:10px;
    width: 100%;
    text-align: center;
}
.chat-break::before {
    content: '';
    width: calc(100% - 40px);
    position: absolute;
    left: 0px;
    margin: 0px 20px;
    display: inline-block;
    border-bottom: dashed 2px #000;
}

.chat-row.drawing {
    color: #66d;
}

.chat-row.drawing::after {
    content: 'drawing...';
    font-family: 'Segoe Script';
    font-weight: bold;
}

.chat-row.guessed {
    color: #4a4;
}

.chat-row.close-guess {
    color: #bb4;
}

#timer {
    font-size: 25px;
    padding: 20px 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: bold;
    text-shadow: 0px 0px 5px #fff, 1px 1px 5px #fff, -1px -1px 5px #fff, 1px -1px 5px #fff, -1px 1px 5px #fff;
}

#timer:not(:empty)::before {
    content: '\f2f2';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 10px;
}

#timerProgress {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-color: #66f;
    transition: all linear 1s;
}

#timerProgress.warning {
    background-color: #bb4;
}

#timer.warning {
    color: #bb4;;
}

#timerProgress.danger {
    background-color: #f66;
}

#timer.danger {
    color: #f66;
}

#turnScoreList {
    display: table;
}

.score-row {
    display: table-row;
}

.score-name {
    display: table-cell;
    text-align: right;
    padding: 5px 15px;
}
.score-value {
    display: table-cell;
    padding: 5px;
}

.score-row.success .score-value {
    color: #4f4;
}

.score-row.success .score-value::before {
    content: '+';
}